*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main_div {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    place-items: center;
}

.music_container {
    width: 35rem;
    height: auto;
    background-color: #ffffff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: #cccaca;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 300;
}

.img_container {
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img {
    /*maketheimgobjectfitandcircle*/
    width: 100%;
    height: 100%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* cursor: progress; */
}

.music_controls {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 1rem;
}

.music_controls .fas {
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.music_controls .main-button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #111111;
    width: 5rem;
    height: 5rem;
    color: #f6f6f6;
    font-size: 1.4rem;
    /* add display flex to center the icons */
    display: flex;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
}

.music_controls .fas:hover {
    color: gray;
}

.music_controls .main-button:hover {
    color: #111111;
    background-color: #f6f6f6;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}

/* Add anime class to animate */

.anime {
    animation: rotatePlayer 3s linear infinite;
    -webkit-animation: rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* progress style */

.progressbar_container {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top: 1rem;
}

.progress_div {
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #5587c9;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    /* transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -ms-transition: width 1s linear;
    -o-transition: width 1s linear; */
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none;
}

.progress_duration_meter{
    display: flex;
    justify-content: space-between  ;
    font-size: 1.5rem;
}